/* common styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

/* navbar */
/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.line {
    width: 2.5rem;
    height: 0.2rem;
    background-color: #222;
    margin-bottom: 0.6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all 0.5s 0s ease-in-out;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .4s;
}

.social-link:hover {
    color: blue;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}

/* navigation */
.navigation {
    left: -22rem;
    position: fixed;
    width: 30rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)), url(../img/nav-bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    font-family: 'Josefin sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-align: center;
    color: blue;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 20rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    outline: none;
    border: 0.1rem solid blue;
    border-radius: 10rem;
    color: blue;
    transition: background-color 0.3s;
}

.navigation-search-input:focus {
    background-color: #a3a78f;
}

.navigation-search-btn {
    border: none;    
    background: transparent;
    color: blue;
    font-size: 1.7rem;
    position: absolute;
    top: 0.8rem;
    right: 4rem;
    cursor: pointer;
}

.navigation-search-btn {
    outline: none;
}

.navigation-list {
    list-style: none;
    padding: 0;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: blue;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s;
}

.navigation-link::before {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: blue;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: blue;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
    color: blue;
}

.navigation-link:hover:before, .navigation-link:hover:after {
    width: 3rem;
}

.copyright {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    margin: .2rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked~.sidebar .line-1 {
    transform: rotate(45deg) translate(-5px, -6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked~.sidebar .line-3 {
    transform: rotate(135deg) translate(-17px, 17px);
    width: 2.5rem;
}

.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgb(0, 0, 0, .6), rgb(0, 0, 0, .5)), url(/img/header-1.jpg) center no-repeat;
    background-size: cover;
}

.brand {
    display: flex;
    cursor: pointer;
}

.brand-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: rgb(162, 207, 246);
    letter-spacing: 0.2rem;
}

.banner {
    color: #ddd;
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {
    font-size: 2rem;
    font-weight: 300;
    animation: anim 1.5s 0.5s backwards;
}

.banner-button {
    width: 15rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .2rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    background: linear-gradient(to right, #63e8ff, #afe6ef);
    cursor: pointer;
    animation: anim 1s 1s backwards;
}

.banner-button:hover {
    background: linear-gradient(to left, #63e8ff, #afe6ef);
}

.banner-button:active {
    transform: translateY(0.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* end of navigation */
/* end of sidebar */
/* end of navbar */

/* about us */
.about-us {
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}

.about-us-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}

.about-us-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    color: blue;
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: blue;
    text-align: center;
}

.about-us-paragraph {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
}

.about-us-btn {
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: blue;
    background-color: transparent;
    border: .1rem solid blue;
    outline: none;
    cursor: pointer;
}

.btn-arrow {
    margin-left: .5rem;
    transition: margin-left .4s;
}

.about-us-btn:hover .btn-arrow {
    margin-left: 1.5rem;
}

.about-us-images {
    flex: 1 1;
    position: relative;
}

.image {
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius: .4rem;
    border: .2rem solid blue;
}

.image-1 {
    transform: translate(-20%, -90%);
}

.image-2 {
    transform: translate(-70%, -70%);
}

.image-3 {
    transform: translate(-50%, -50%);
}

.image-4 {
    transform: translate(-30%, -30%);
}
/* end of about us */

/* common header */
.common-header {
    padding: 5rem;
    text-align: center;
    color: blue;
}

.common-heading {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.small-underline {
    width: 9rem;
    height: 0.1rem;
    margin: 0 auto 1rem auto;
    background-color: blue;
}

.big-underline {
    width: 20rem;
    height: 0.1rem;
    margin: auto;
    background-color: blue;
}
/* end of common header */

/* rooms */
.rooms {
    margin-left: 8rem;
}

.rooms-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-card {
    width: 50rem;
    margin: 5rem;
    background-color: #15141b;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .3);
}

.room-img {
    width: 100%;
}

.room-card-content {
    color: #ddd;
    padding: 2rem;
}

.room-card-heading {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

.room-card-paragraph {
    font-size: 1.5rem;
    color: #777;
}

.room-card-price {
    margin: 0;
    font-size: 4rem;
    font-weight: 300;
    text-align: right;
}

.room-card-btn {
    width: 15rem;
    padding: 1.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: blue;
    background-color: transparent;
    border: .1rem solid blue;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
}

.rooms-btn-wrapper {
    text-align: center;
}

.rooms-btn {
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 0;
    background-color: transparent;
    text-transform: uppercase;
    color: blue;
    border: .2rem solid blue;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .2);
    transition: all .2s;
}

.rooms-btn:hover {
    background-color: blue;
    color: #ddd;
}
/* end of rooms */

/* customers */
.customers {
    margin-left: 8rem;
    padding-bottom: 7rem;
    background-color: #15141b;
}

.customer-paragraph {
    font-size: 1.8rem;
    color: #ddd;
    width: 50%;
    margin: 2rem auto 8rem auto;
    text-align: center;
}

.customer-card-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.customer-card {
    background-color: #eee;
    width: 50rem;
    display: flex;
}

.customer-img-wrapper {
    margin: auto 0;
}

.customer-image {
    width: 20rem;
    margin-left: -1.3rem;
    clip: rect(50px, 50px, 10px);
}

.customer-info {
    padding: 0 2rem;
}

.customer-fullname {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}

.customer-paragraph-1 {
    font-size: 1.2rem;
    font-style: italic;
    color: blue;
}

.customer-paragraph-2 {
    font-size: 1.3rem;
    font-style: italic;
}
/* end of customers */

/* footer */
.footer {
    margin-left: 8rem;
}

.main-part {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 4rem;
}

.footer-heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: blue;
    margin: 1rem 0 3rem 0;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list-item {
    margin-bottom: 2rem;
}

.footer-list-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #bbb;
}

.contact p {
    font-size: 1.4rem;
    color: #bbb;
    margin-bottom: 4rem;
}

.footer-form {
    display: flex;
}

.footer-input {
    width: 25rem;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    columns: #444;
    outline: none;
}

.footer-btn {
    padding: 1rem;
    background-color: blue;
    color: #ddd;
    border: none;
}

.gallery {
    width: 30rem;
}

.gallery-images-wrapper {
    width: 12rem;
    margin: 0.4rem;
    overflow: hidden;
}

.footer-image {
    width: 100%;
    height: 100%;
    margin: .4rem;
    transition: all 0.4s;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover {
    transform: scale(1.4);
}

.creator-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 4rem;
}

.copyright-text {
    font-size: 1.3rem;
    color: #aaa;
}

.text-right {
    font-size: 1.4rem;
    color: #bbb;
}

.text-right i {
    font-size: 1.5rem;
    margin: .5rem;
    color: tomato;
}

.text-right span {
    color: goldenrod;
}
/* end of footer */